.bgStyle {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.postimg.cc/rFGyhL17/Rectangle-1.png');
  background-repeat: no-repeat;
    background-size:cover;
    min-height: 600px;
    background-blend-mode: multiply;
  
  }
  